:root {
  --masonry-gap-size: 24px;
}

.slash-grid {
  display: flex;
  margin-left: calc(-1 * var(--masonry-gap-size));
  width: auto;
}

.slash-grid_column {
  padding-left: var(--masonry-gap-size);
  background-clip: padding-box;
}

.slash-grid_column > div {
  margin-bottom: var(--masonry-gap-size);
}

